@import '../utilities/colors';
@import '../utilities/fonts';

html {
    scroll-behavior: smooth;
}
  
body {
    margin: 0;
    background-color: $--clr-darkblue-background;
}

h1,h2,h3,h4,h5,h6,p {
    margin: 0;
}

p {
    position: relative;
    max-width: 60ch;
    margin: 20px 0;
    &.before {
        margin-top: 35px;
    }
}

h1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

section {
    display: flex;
    align-items: center;

    position: relative;

    overflow: hidden;
}