.title {
    display: flex;

    &__anim {
        opacity: 1;
        transition: opacity 1500ms cubic-bezier(0.45, 1.24, 0, 0.99) 0s;
        animation: fadeIn 350ms ease-in backwards; 
        @for $i from 1 through 12 {
            &:nth-child(#{$i}) {
                animation-delay: #{$i * 80 + 80}ms;
            }
        }
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    75% {
        opacity: 1;
        transform: scale(1.15);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}