$--clr-black-full: hsl(0, 0%, 0%);
$--clr-white-full: hsl(0, 0%, 100%);

$--clr-tags-attribute: hsl(31, 100%, 67%);
$--clr-tags-html-tag: hsl(190, 73%, 63%);
$--clr-tags-string: hsl(109, 29%, 41%);
$--clr-tags-single-quote: hsl(85, 68%, 70%);
$--clr-tags-comment: hsl(0, 0%, 39%);

$--clr-darkblue-background: hsl(221, 28%, 16%);
$--clr-darkblue-content: hsl(222, 27%, 12%);
$--clr-darkblue-projectcard: hsl(221, 30%, 23%);
$--clr-light-blue: hsl(224, 25%, 79%);
$--clr-white: hsl(60, 28%, 92%);
$--clr-accent-yellow: hsl(43, 97%, 72%);
$--clr-accent-white: hsl(174, 50%, 92%);